@model iSociety.Models.UsuarioConsumidor
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Usuario/Views/Shared/_LayoutPainel.cshtml";
}



<h2>Index</h2>


    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor(TempData["u"])
