
@{
    ViewBag.Title = "Horário Adicionado";
}

<script>alert("Horário adicionado com sucesso!");</script>
<h2>Retorne ao Painel</h2>
<div><h3>@Html.ActionLink("Voltar", "Painel", "Login")</h3></div>

