
@{
    ViewBag.Title = "Erro";
}

<script>alert("Um ou mais dos horários adicionados já existem para esse campo, por favor seleciona horários inexistentes!");</script>
<h2>Tente Novamente</h2>
<div><h3>@Html.ActionLink("Retornar", "Painel", "Login")</h3></div>


