
@{
    ViewBag.Title = "Erro";
}

<script>alert("Um ou mais dos horários adicionados não existem para esse campo, por favor insira horários existentes!");</script>
<h2>Tente Novamente</h2>
<div><h3>@Html.ActionLink("Retornar", "Painel", "Login")</h3></div>


