
@{
    ViewBag.Title = "Erro";
}

<script>alert("O(s) horário(s) adicionado(s) não são válidos, por favor, insira um horário válido");</script>
<h2>Tente Novamente</h2>
<div><h3>@Html.ActionLink("Retornar", "Painel", "Login")</h3></div>


