
@{
    ViewBag.Title = "NaoHaDados";
}

<h2 style="text-align:center"> Ainda não existem dados para essa página :( </h2>
<div><h3 style="text-align:center">@Html.ActionLink("Voltar para o painel", "Painel", "Login")</h3></div>


