@model iSociety.Areas.Admin.Models.UsuarioFornecedor
@{
    ViewBag.Title = "Painel";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPainel.cshtml";


}

<h2 style="text-align:center;">Painel Administrativo</h2>

