@model iSociety.Areas.Admin.Models.UsuarioFornecedor
@{
    ViewBag.Title = "Painel";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPainel.cshtml";


}

<h2>Painel Administrativo</h2>

@*<div class="span3">
    <ul class="well navbar-left">
        <li class="active">@Html.ActionLink("Meu Perfil", "Detalhes", new { id = Model.Id })</li>
        <li class="active">@Html.ActionLink("Editar Perfil", "Editar", new { id = Model.Id })</li>
    </ul>
</div>*@


