
@{
    ViewBag.Title = "Plano Mensal Criado";
}

<script>alert("O Plano mensal para o horário do campo selecionado foi criado com sucesso!");</script>
<h2 style="text-align:center">Retorne ao Painel</h2>
<div><h3 style="text-align:center">@Html.ActionLink("Voltar", "Painel", "Login")</h3></div>

