
@{
    ViewBag.Title = "Aluguel Criado";
}

<script>alert("O aluguel para o horário do campo foi criado com sucesso!");</script>
<h2>Retorne ao Painel</h2>
<div><h3>@Html.ActionLink("Voltar", "Painel", "Login")</h3></div>

