
@{
    ViewBag.Title = "Reserva Confirmada";
}

<script>alert("A reserva foi realizada com sucesso, por favor confirme seu pagamento em até 2 dias ou a reserva será cancelada.");</script>
<h2>Retorne ao Painel</h2>
<div><h3>@Html.ActionLink("Voltar", "Painel", "Login")</h3></div>

