@model iSociety.UI.Web.Models.CampoAluguel
@{
    ViewBag.Title = "Selecione o pagamento";

}


<script>alert("Você precisa selecionar uma forma de pagamento!");</script>
<div><h2> @Html.ActionLink("Tentar Novamente", "ConfirmaReserva", new { id = ViewBag.AluguelID })</h2></div>

