<div class="span3">
    <ul class="well navbar-left">
        <li class="active">@Html.ActionLink("Meu Perfil", "Detalhes", new { id = Model.Id })</li>
        <li class="active">@Html.ActionLink("Editar Perfil", "Editar", new { id = Model.Id })</li>
        <li class="active">@Html.ActionLink("Alugar Campo", "ListarCampoAluguel", new { id = Model.Id })</li>
        <li class="active"><a href="#">Meu Perfil</a></li>
    </ul>


</div>


