<div class="span3">
    <ul class="well navbar-left">
        <li class="active"><a href="@Url.Action("MeuPerfil", "Login", new { area = "Usuario"})">Meu Perfil</a></li>
        <li class="active"><a href="#">Meu Perfil</a></li>
        <li class="active"><a href="#">Meu Perfil</a></li>
    </ul>

</div>


